@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    color: white;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

a:hover [class*="zocial-"]:before {
    color: #3d85c6;
}

/*
* Common
*/
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2d3c49;
    margin-bottom: 70px;
}

img {
    max-width: 100%;
    width: 100%;
}

/*
* Heading
*/
.logo {
    width: 100%;
    max-width: 100px;
    float: left;
    margin-top: 25px;
}

.heading {
    text-align: right;
    text-transform: uppercase;
}

.heading h1 {
    font-weight: 300;
}

/*
* Main Content
*/
hr {
    border-width: 3px;
    border-color: #7d97ad;
}

.content-image {
    max-width: 100%;
    max-height: 100%;
}

/*
* Featured Work
*/
.featured {
    color: #7d97ad;
}

.app {
    margin-bottom: 10px;
}

.app h3 {
    text-transform: uppercase;
}

.project {
    text-align: center;
}

/*
* Footer
*/
.navbar .nav li {
    display: inline-block;
    float: none;
}

.navbar .nav {
    text-align: center;
}

.navbar-text {
    float: none;
}
